<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.coupon.mapper.TbCouponMapper" >

  <resultMap id="BaseResultMap" type="com.study.coupon.bean.TbCoupon" >
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="coupon_content" property="couponContent" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="coupon_sum" property="couponSum" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    coupon_id, coupon_type, coupon_content, start_time, end_time, coupon_sum
  </sql>

  <insert id="insert" parameterType="com.study.coupon.bean.TbCoupon" >
    insert into tb_coupon (<include refid="Base_Column_List"/>)
    values (
      #{couponId},
      #{couponType},
      #{couponContent},
      #{startTime},
      #{endTime},
      #{couponSum})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from tb_coupon where id = #{couponId}
  </delete>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.study.coupon.bean.TbCoupon" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>


  <update id="updateByExampleSelective" parameterType="map" >
    update tb_coupon
    <set >
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponType != null" >
        coupon_type = #{record.couponType,jdbcType=VARCHAR},
      </if>
      <if test="record.couponContent != null" >
        coupon_content = #{record.couponContent,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couponSum != null" >
        coupon_sum = #{record.couponSum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>